@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body {
    height: 100vh;
    background:linear-gradient( #054D8A, #001227);
}

html{
    scroll-behavior: smooth;
}

.custom-navbar {
    background-color: #00122770;
    height: 63px;
}

.botão_navbar{
    background-color: #3dd4fabe;
}

.inicial{
    font-family: 'Press Start 2P', cursive;
    color: #3DD5FA; 
}

.texto_primario {
    font-family: 'Press Start 2P', cursive;
    color: #3DD5FA; 
}

.texto_secundario {
    font-family: 'Press Start 2P', cursive;
    color: #3DD5FA;
}


.texto_primario:hover{
    text-decoration: underline;
}

.seção{
    visibility: hidden;
}

#seção_apresentação {
    margin: 0px;
    height: 90vh;
}

.texto_apresentação{
    font-family: 'Chakra Petch', sans-serif;
    color: #3DD5FA;
}

.texto{
    font-family: 'Open Sans', sans-serif;
    color: #3DD5FA;
}

#texto_sobre{
    font-family: 'Open Sans', sans-serif;
    color: #3DD5FA;
    font-size: 20px;
    font-weight: 700;
}

.titulo_sobre{
    font-family: 'Open Sans', sans-serif;
    color: #3DD5FA;
    font-weight: 400;
}

#sonic{
    width: 300px;

}

#link{
    padding: 10px; 
}

#seção_sobre {
    background-color: #010f20;
    height: 100vh;
}

#seção_projetos{
    background:linear-gradient( #01315B, #081b31);
    padding: 100px;
    height: 100vh;
}

.img-perfil{
    min-width: 100px;
    max-width: 200px;
}

.img_logo{
    max-width: 50px;
}

.img_projetos{
    max-width: 18rem;
    max-height: 12rem;
}

@media screen and (max-width: 768px) {
    #seção_sobre {
      height: auto;
    }
    #seção_projetos{
      height: auto;
    }

    .texto_secundario{
        justify-content: end;
    }
  }
  